Repository open-telemetry/opentelemetry-rust, pull requests merged in 2025-04, with the labels that each got.

#2879 fix: re-export WithContext in the same place
  opentelemetry/CHANGELOG.md
  opentelemetry/src/context.rs
  opentelemetry/src/trace/context.rs
  opentelemetry/src/trace/mod.rs
Labels: bug

#2905 fix: Cleanup MetricError and use OTelSdkResult instead
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/benches/metric.rs
  opentelemetry-sdk/src/metrics/manual_reader.rs
  opentelemetry-sdk/src/metrics/periodic_reader.rs
  opentelemetry-sdk/src/metrics/periodic_reader_with_async_runtime.rs
  opentelemetry-sdk/src/metrics/pipeline.rs
  opentelemetry-sdk/src/metrics/reader.rs
  opentelemetry-sdk/src/metrics/view.rs
  opentelemetry-sdk/src/testing/metrics/metric_reader.rs
Labels: semver-check

#2911 ci: Harden GitHub Actions
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/fossa.yml
  .github/workflows/integration_tests.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/pr_naming.yml
  .github/workflows/semver.yml
Labels: semver-check, performance

#2923 ci: Update permissions for workflow
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fossa.yml
  .github/workflows/integration_tests.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/pr_naming.yml
  .github/workflows/semver.yml
Labels: semver-check, performance
